/* css config */
body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
/* css media */
@media (max-width: 576px) {
  .btn-gif-order {
    width: 90%;
  }
  .pengeriman {
    min-width: 100%;
  }
  .img-new-price {
    width: 100%;
  }
  .image-hearder > .box > img {
    max-width: 80%;
  }
  .page2-header-top > img {
    width: 80%;
  }
  .page-2-img-desc > img {
    width: 100%;
    height: auto;
  }
}

.boxheader {
  display: flex;
  justify-content: center;
}
.header {
  max-width: 80%;
  min-width: 90%;
  text-align: center;
}
.header > .title {
  color: #ff782f;
  font-family: "Oswald", Sans-serif;
  font-size: 2.02em;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.header > .subtitle {
  color: black;
  font-weight: 600;
  font-family: "Roboto", Sans-serif;
  font-size: 1.08em;
  line-height: 1;
}
.image-hearder {
  display: flex;
  justify-content: center;
  background-color: #dbdbdb;
}
.image-hearder > .box > img {
  /* max-width: 80%; */
}
.image-clip-top {
  height: 110px;
  background-color: #dbdbdb;
}
.image-clip-bottom {
  position: relative;
  top: -3px;
}
.image-clip-bottom > svg {
  transform: rotate(180deg);
  background-color: #dbdbdb;
}
.box-benefit-item {
  display: flex;
}
.box-benefit-title {
  margin-bottom: 66.15px;
}
.title-benefit {
  color: #484848;
  font-family: "Oswald", Sans-serif;
  font-size: 1.5em;
  font-weight: revert;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  max-width: 70%;
  min-width: 100%;
}
.box-icon {
  background-color: #484848;
  color: #f7cc22;
  padding: 24px;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 25px;
}
.box-content > .benefit-name {
  color: #ff782f;
  font-weight: bold;
}
.box-content > .benefit-desk {
  color: #484848;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
.wrepper-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbdbdb;
  padding: 60px;
  margin-bottom: 100px;
}
.wrepper-description > .box-img {
  display: inline;
}
.wrepper-description > .box-text {
  max-width: 80%;
  min-width: 100%;
}
.wrepper-description > .box-text > p {
  text-align: center;
}
.description-top {
  background-color: #dbdbdb;
}
/* product */
.wrepper-about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrepper-about-product > h2 {
  color: rgb(255, 102, 0);
  text-align: center;
}
.wrepper-about-product > .row {
  max-width: 80%;
  justify-content: center;
}
.about {
  display: flex;
}
.about > i {
  color: #23a455;
  font-size: 25px;
  margin: 8px 0px;
}
.about > p {
  color: #54595f;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 23px;
  padding-left: 5px;
}
.wrepper-about-product > .row > .box-img {
  /* display: flex;
  justify-content: flex-end; */
}
/* order */
@media (max-width: 576px) {
  .btn-gif-order {
    width: 90%;
  }
}
.wrepper-order {
  background-color: #015a96;
}
.btn-gif-order {
  border-radius: 20px;
}
.order-desc {
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
/* paket */
.paket {
  background-color: #dbdbdb;
}
.paket > h2 {
  color: rgb(34, 35, 40);
  font-size: 38px;
  font-weight: normal;
  font-family: inherit;
}
.paket > h2 > span {
  color: rgb(255, 102, 0);
  font-weight: bold;
}
.pengeriman {
  max-width: 80%;
}
/* product price */

.img-new-price {
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
}
.consultation-text {
  color: #ffffff;
  font-size: 39px;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
#btntotop {
  padding: 10px 17px;
  background: black;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
}
#btntotop.show {
  opacity: 1;
  visibility: visible;
}
/* page 2 */
.page2-header {
  background-color: #faebd7;
}
.page2-header > h2 {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
.page2-header > ul {
  list-style-type: none;
}
.page2-header > ul > li {
  display: flex;
  align-items: baseline;
}
.page2-header > ul > li > i {
  width: 24px;
  /* font-family: "Poppins", Sans-serif; */
  font-size: 18px;
  margin-right: 10px;
}
.page2-header > ul > li > p {
  margin-bottom: 0px;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
}
.page2-header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page2-header-top > h1 {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
.page2-header-top > h6 {
  color: #ff0000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  text-align: center;
}
.page2-header-bottom > h2 {
  /* display: flex;
  align-items: center; */
  /* color: #000000; */
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.page2-header-bottom > h2:nth-child(odd) {
  color: #000000;
}
.page2-header-bottom > h2:nth-child(even) {
  color: #ff0000;
  margin-bottom: 0px;
}
.page-2-title-desc {
  background-color: #ffd700;
  padding: 20px 0px 20px 0px;
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
.page-2-text-desc {
  margin-bottom: 25px;
  color: #0c0005;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.page-2-img-desc {
  display: flex;
  justify-content: center;
}
.page-2-text-warning-desc {
  color: #800000;
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
}
.page-2-text-list {
  color: #0c0005;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.page-2-green-desc {
  color: #00a33e;
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.page-2-box-list-green {
  display: flex;
  align-items: center;
}
.page-2-box-list-green > i {
  color: #00a33e;
  font-size: 18px;
}
.page-2-box-list-green > p {
  font-size: 18px;
  padding-left: 10px;
  font-family: "Poppins", Sans-serif;
  align-self: center;
  margin-bottom: 0px;
}
